# Compiled assets
*.css
*.min.js
*.map

# Grunt
node_modules/

# Sass/Compass
.sass-cache/

# PhpStorm
.idea/

# Sublime Text
*.sublime-workspace

# GitHub wiki
wiki/

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
